/*--------------------------- VARIAVEIS GLOBAIS DE COR -------------------------------------*/
:root {
    --branco: #FFF;
    --cinza-50: #F7F8FA;
    --cinza-100: #E6E8EB;
    --cinza-200: #AFB2B1;
    --cinza-500: #808080;
    --cinza-800: #494D4B;

    --verde-500: #04D361;

    --roxo-300: #9F75FF;
    --roxo-400: #9164FA;
    --roxo-500: #8257E5;
    --roxo-800: #6F48C9;

    --azulMarinho: #008B8B;
}



/*-------------------------------- APLICAR NO DOC INTEIRO -----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*--------------------------- AJUSTA TELA DE ACORDO COM O DISPOSITIVO DO USUARIO-------------------------------------*/
@media(max-width: 1080px) {
    html {
        font-size: 93.75%; //15px
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%; //14px
    }
}

body {
    background-color: #FFFAF0;

}

body,
input,
textarea,
button {
    font: 500 1rem Inter, sans-serif;
    color: var(--cinza-500);
}



/*-------------------------------------------- TITULOS ALL --------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--cinza-800);
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}